.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formContainer {
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 30px; 
    border-radius: 15px; 
    transition: transform 0.5s ease;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.inputField {
    margin-bottom: 20px;
}


.submitButton {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(90deg, rgba(199,244,124,1) 0%, rgba(171,211,108,1) 48%, rgba(92,178,112,1) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background: linear-gradient(90deg, rgb(180, 219, 116) 0%, rgb(182, 219, 123) 48%, rgb(102, 187, 122) 100%);
}
