.infoboxContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.infobox {
    background: linear-gradient(90deg, rgba(199,244,124,1) 0%, rgba(171,211,108,1) 48%, rgba(92,178,112,1) 100%);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    height: 400px;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.infobox h2 {
    margin-top: 0;
    color: white;
}

.infobox p {
    margin: 10px 0;
}

.infobox button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: rgba(92,178,112,1);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.infobox button:hover {
    background-color: rgb(62, 165, 86);
}
